@media(max-width: 992px) {
	nav ul li a {
		margin-right: 30px;
	}
	.frase-principal {
		transform: translate(-50%, -50%);
		max-width: none;
	    padding: 0 30px;
	    width: 100%;
	    box-sizing: border-box;
	    text-align: center;
	}
	.contacto aside {
		padding-right: 80px;
	}
	.nosotros article {
		margin-top: 0;
	}
}

@media(max-width: 768px) {
	h1 {
		font-size: 40px;
		line-height: 45px;
		word-break: break-word;
	}
	h2 {
		font-size: 20px;
	}
	h5 {
		line-height: 30px;
	}
	ul {
		margin-right: 0;
	}
	header {
		background-color: rgb(0,0,0,.3);
		padding-top: 8px;
		padding-bottom: 8px;
		z-index: 9;
	}

	header .centrado {
		padding-right: 0;
		padding-left: 0;
	}

	.navbar-toggler {
		display: inline;
		margin-right: 20px;
	}

	.navbar-toggler {
	    display: block;
	    width: 20px;
	    height: 15px;
	    padding: 0;
	    position: absolute;
	    transform: rotate(0deg);
	    transition: transform .5s ease-in-out;
	    cursor: pointer;
	    top: 18px;
	    right: 15px;
	    z-index: 9;
	    background: transparent;
    	border: none;
	}

	.navbar-toggler:focus {
	  outline: none;
	}

	.navbar-toggler	span {
		background-color: #fff;
		display: block;
		position: absolute;
		height: 3px;
		width: 100%;
		opacity: 1;
		left: 0;
		transform: rotate(0deg);
		transition: transform .25s ease-in-out;
		background-size: 100%;
	}

	.navbar-toggler span:nth-child(1) {
		top: 0px;
	}

	.navbar-toggler span:nth-child(2), .navbar-toggler span:nth-child(3) {
		top: 6px;
	}

	.navbar-toggler span:nth-child(4) {
		width: 50%;
	    top: 12px;
	    left: 50%;
	}
	.menu-animation span:nth-child(1) {
	    top: 18px;
	    width: 0%;
	    left: 50%;
	}

	.menu-animation span:nth-child(2) {
	    -webkit-transform: rotate(42deg);
	    transform: rotate(42deg);
	}

	.menu-animation span:nth-child(3) {
	    -webkit-transform: rotate(-42deg);
	    transform: rotate(-42deg);
	}

	.menu-animation span:nth-child(4) {
	    top: 18px;
	    width: 0%;
	    left: 50%;
	}
	.logo-mobile{
		display: block;
	}
	header .menu {
		background-color: #2b2b2b;
		display: none;
		position: absolute;
	  	top: 0;
	  	left: 0;
	  	right: 0;
		height: 100vh;
	}
	header nav {
		box-sizing: border-box;
		height: 100%;
		padding: 50px 0;
		display: flex;
		align-items: center;
	    justify-content: space-around;
	    flex-direction: column;
	}

	header nav ul {
		margin-right: 0;
		width: 100%;
		text-align: center;
		flex-direction: column;
	}

	header nav ul li {
		display: block;
		width: 100%;
		margin-left: 0;
		margin-bottom: 30px;
	}

	header nav li a {
		width: 100%;
		display: block;
	}

	header nav ul li a:hover {
		color: #48B85e;
	}
	.header video {
		display: none
	}
	.video-imagen img {
	  display: block;
		width: 100%;
		height: 100vh;
		object-fit: cover;
	}
	.superior-frase {
    	display: none !important;
	}
	.stickyHeader {
		padding-top: 8px;
    	padding-bottom: 8px;
	}

	/*Que Hacemos*/
	.que-hacemos {
        background: url(../images/bg-gris.png) repeat-x bottom center;
    	background-size: 100% 70%;
	}
	.responsive .imagen-central {
		max-width: 220px;
	}
	.responsive article {
		padding-bottom: 40px;
	}
	.responsive .slick-dots {
		bottom: 25px;
	}
	.responsive figure {
		width: 95px;
		height: 95px;
	}
	.bloque {
		flex-direction: column-reverse;
	}
	.contacto .bloque:last-child aside {
		padding-right: 0px;
		margin-top: 80px;
	}
	.formulario {
		border: none;
		box-shadow: none;
		padding: 0px;
	}
	.btn-primario {
		margin: 0 auto;
	}
	form textarea {
		height: 60px;
		border-bottom: 1px solid #c1c1c1;
	}
	.instagram-carrousel #instaWidgetMedia li .img-background {
	    height: 186px;
	    width: 200px;
	}
	.nosotros aside {
		display: none;
	}
	.nosotros article {
		width: 100%;
	    text-align: center
	}
	footer .contenedor {
		flex-direction: column;
	}
	footer aside {
		text-align: center;
	}
	footer aside p {
		margin: 0 auto;
	}
	footer nav {
		padding-top: 40px;
	}
	footer nav ul {
		justify-content: center;
    	flex-direction: column;
	}
	footer nav ul li {
    	display: block;
    	padding-bottom: 20px;
    	text-align: center;
	}
	footer nav ul a {
		margin-right: 0;
	}
	.contactenos figure {
		background-position: 63% 45%;
	    background-size: 200%;
	}
}
@media (max-width: 500px) {
	h1 {
		font-size: 25px;
		line-height: 35px;
		word-break: break-word;
	}
	h6 {
		font-size: 14px;
	}
	.contactenos figure {
		background-position: 64% 40%;
	    background-size: 323%;
	}
}
